/* General */
body{
    display: inline;
    margin: 0;
    padding: 0;
    background-image: url(images/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
header{
    background-color: none;
    padding: 2%;
}
h1{
    color: white;
    font-family: Ubuntu, bold;
    text-align: center;
    font-size: 40pt;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: white;
    font-family: Ubuntu, bold;
    font-size: 20pt;
    text-align: center;
    white-space: nowrap;
}

.flexCol{
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* index.html */
.containerHome {
    margin-top: 5%;
    position: relative;
    text-align: center;
  }
.centered {
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.Button1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(255,10,10,1) 100%);
    border-radius: 15%;
    margin-bottom: 5%;
    padding: 10% 70% 10% 70%;
  }

.Button2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(255,10,10,1) 100%);
    border-radius: 15%;
    padding: 10% 70% 10% 70%;
}

/* selection.html */
#list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

/* saved.html */
.itemsContainer{
    background-color: #840202;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    border: 5px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 10%;
    width: 15%;
    padding: 1%;
    margin: 1%;
}

.itemsContainer img{
    border: 5px solid black;
    border-radius: 10%
}

input[type="checkbox"]{
    margin-top: 8%;
    margin-right: 7%;
    border-right:  2px solid white;
    border-bottom: 2px solid white;
    height: 30px;
    width: 30px;
    background-color: none;
    position: relative;
    outline: none;
    transform: rotate(45deg);
    -webkit-appearance:none;
}

input[type="checkbox"]:before{
    border-top:   2px solid white;
    border-right: 2px solid white;
    border-left:  2px solid white;
    position: absolute;
    content: "";
    background-color: none;
    height: 60%;
    width: 100%;
    top: -60%;
    right: -8%;
    border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:after{
    border-top:   2px solid white;
    border-right: 2px solid white;
    border-left:  2px solid white;
    position: absolute;
    content: "";
    background-color: none;
    height: 60%;
    width: 100%;
    transform: rotate(-90deg);
    top: 18%;
    right: 77%;
    border-radius: 75px 75px 0 0;
}

input[type="checkbox"]:checked,
input:checked[type="checkbox"]:before,
input:checked[type="checkbox"]:after{
    background-color: white;
}

.brand{
    color: white;
    font-family: Ubuntu, bold;
    font-size: 20pt;
    margin-top: 0;
    margin-bottom: 0;
}

.type{
    margin-top: 0;
    color: white;
    font-family: Ubuntu, bold;
    font-size: 15pt;
    margin-bottom: 0;
}